.scoretop{

    margin-top: 5vh;
    margin-left: 16vh;
}
@media only screen and (max-width:"600px") {
    .rule{
        width: 100%;
        height: 20%;
        background-color:#FBF1F1;
    }
    .scoretop{
        background-color: red;
        margin-top: 5vh;
        margin-left: 16vh;
    }
}
